/* Footer Section */

.footer{
    background-image: linear-gradient(white, grey);
    padding-left: 1rem;
    margin-top: 5rem;
    
  }
  
  .footer .grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap:1.5rem;
    align-items: flex-start;
  }
  
  .footer .grid .box h3{
    font-size: 1.5rem;
}
  
  .footer .grid .box a{
    display: block;
    font-size: 1.1rem;
    color:black;
    text-decoration: none;
  }
  
  .footer .grid .box a i{
     
    color:var(--main-color);
    transition: .2s linear;
  }
  
  .footer .grid .box a:hover{
    color:var(--main-color);
  }
  
  .footer .grid .box a:hover i{
    padding-right: 0.8rem;
  }
  
  .footer .credit{
    text-align: center;
    padding: 2.5rem 2rem;
    font-size: 1.3rem;
   
  }

  